__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.pylint/
.mypy_cache/

venv/
.venv/
env/
bin/
lib/
include/

.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

.env
*.log
system.log
.git/
.gitignore

Dockerfile
docker-compose.yml
.dockerignore